hr {
    display: block;
    margin-left: 20em;
    margin-right: 20em;
    border-width: 3px;
	border-color: green;
}

img {
	display:block;
	margin: 0 auto;
}

ul {
	width: 70%;
	margin: auto;
	float: center;
}

ol {
	width: 70%;
	margin: auto;
	float: center;
}

li {
	margin-left: 50px;
}

#breadcrumb{
	margin-left: 350px;
	width: 70%;
}